body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    width: 50%;
    margin: auto;
    background-color: blanchedalmond;
    padding: 1em;
}

.registrations-stored {
    font-size: 4rem;
    align-items: center;
    display: flex;
    float: right;
}

.errorText {
    width: 50%;
    margin: auto;
    padding: 1em;
}

.registrations-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registrations-parent {
    width: 125px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 2px;
    text-align: center;
    overflow-y: hidden;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    width: 50%;
    margin: auto;
    padding: 1em;
}
.registration-input {
    width: 50%;
    margin: auto;
    padding: 1em; 
}

.registration-display {
    width: 50%;
    margin: auto;
    padding: 2em;
}

.buttons {
    width: 50%;
    margin: auto;
}

@media(max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        width: fit-content;
    }
    .buttons {
        display: flex;
        justify-content: space-between; 
    }
    .registration-display{
        display: flex;
        justify-content: space-between;
    }
    .registration-input {
        justify-content: space-between;
    }
    .registrations {
        float: left;
        justify-content:first baseline;
    }
}